/*Add font ================================*/
#event_statistic h1 {
  font: 600 32px/1 "Sarabun";
  color: #4A4647;
  margin-bottom: 30px;
}
#event_statistic .box-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
#event_statistic .box-info .picture img {
  max-width: 100%;
  width: auto;
  height: auto;
}
@media (min-width: 576px) {
  #event_statistic .box-info .info {
    padding-left: 30px;
  }
}
#event_statistic .box-info .info .title {
  font: 600 20px/150% "Sarabun";
  color: #4A4647;
}
#event_statistic .box-info .info .address {
  font: 400 17px/150% "Sarabun";
  color: #979797;
  padding: 5px 0;
}
#event_statistic .box-info .info .datetime {
  font: 400 17px/150% "Sarabun";
  color: #FF960B;
}
#event_statistic .box-revenue {
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
#event_statistic .box-revenue .total, #event_statistic .box-revenue .parts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}
@media (min-width: 576px) {
  #event_statistic .box-revenue .total, #event_statistic .box-revenue .parts {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}
#event_statistic .box-revenue .total .inner {
  background: #E8E8E8;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.16);
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.16);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}
#event_statistic .box-revenue .total .inner label {
  font: 400 32px/150% "Sarabun";
  text-align: center;
  color: #4A4647;
}
#event_statistic .box-revenue .total .inner .price_format {
  font: 700 32px/150% "Sarabun";
  text-align: center;
  color: #FF6505;
}
#event_statistic .box-revenue .parts .inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#event_statistic .box-revenue .parts .inner .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#event_statistic .box-revenue .parts .inner .item label {
  font: 400 20px/150% "Sarabun";
  color: #4A4647;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 0;
}
@media (min-width: 576px) {
  #event_statistic .box-revenue .parts .inner .item label {
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
    max-width: unset;
  }
}
#event_statistic .box-revenue .parts .inner .item .price_format {
  font: 700 20px/150% "Sarabun";
  color: #FF6505;
}

.detail h2 {
  font: 600 32px/150% "Sarabun";
  color: #4A4647;
  margin-top: 40px;
  margin-bottom: 20px;
}
.detail .content table th, .detail .content table td {
  background: #E8E8E8;
  border: 1px solid #707070;
  padding: 15px;
}
.detail .content table tr td .price_format {
  font: 600 18px/150% "Sarabun";
  color: #FF6505;
}

.detail_ticket .short {
  font: 600 21px/150% "Sarabun";
  color: #4A4647;
  margin-bottom: 20px;
}
.detail_ticket .short span + span {
  display: block;
}
@media (min-width: 576px) {
  .detail_ticket .short span + span {
    display: inline-block;
    margin-left: 82px;
  }
}

.detail_chart .box_tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 -15px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.detail_chart .box_tab h2 {
  line-height: 1;
  padding: 0 15px;
  margin: 0;
  margin-right: auto;
}
.detail_chart .box_tab .nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.detail_chart .box_tab .nav .nav-item .nav-link {
  font: 600 20px/1 "Sarabun";
  color: #4A4647;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  padding: 0 15px 5px;
  margin-bottom: -5px;
}
.detail_chart .box_tab .nav .nav-item .nav-link.active {
  color: #FF6505;
  background-color: transparent;
  border-bottom-color: #FF6505;
}

.date_range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 25px -15px;
}
.date_range .date {
  padding: 15px;
}
.date_range .date label {
  font: 300 15px/150% "Sarabun";
  color: #979797;
  display: block;
}
.date_range .date .form-group {
  margin-bottom: 0;
  position: relative;
}
.date_range .date .form-group i {
  color: #979797;
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.date_range .date .form-group input {
  color: #4A4647;
  width: 187px;
  height: 40px;
  padding-left: 48px;
}
.date_range .filter {
  padding: 15px;
}
.date_range .filter button {
  font: 400 18px/150% "Sarabun";
  color: #fff;
  background: #04457A;
  border-radius: 5px;
  width: 150px;
  height: 40px;
}

.detail_chart .tab-content {
  overflow-x: auto;
}

#chartdiv {
  min-width: 1020px;
  height: 500px;
  padding-bottom: 20px;
}
#chartdiv svg g[aria-labelledby][filter] {
  display: none;
}
#chartdiv svg g[aria-label=Legend][role=group] {
  pointer-events: none;
}

.detail_percent h2 {
  font: 400 32px/150% "Sarabun";
  text-align: center;
  color: #FE6505;
  margin-bottom: 40px;
}
.detail_percent .box_percent {
  border: 1px solid #707070;
  border-radius: 5px;
  padding: 4% 5%;
  margin-bottom: 60px;
}
.detail_percent .box_percent .inner {
  text-align: center;
}
.detail_percent .box_percent .inner label {
  font: 600 28px/150% "Sarabun";
  color: #4A4647;
  display: block;
  margin-bottom: 0;
  position: relative;
}
.detail_percent .box_percent .inner label a {
  font: 400 18px/150% "Sarabun";
  color: #04457A;
  text-align: right;
  display: block;
}
@media (min-width: 768px) {
  .detail_percent .box_percent .inner label a {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.detail_percent .box_percent .inner .short {
  font: 400 18px/150% "Sarabun";
  color: #4A4647;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.16);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  width: 100%;
  max-width: 342px;
  min-height: 55px;
  display: inline-block;
  padding: 3px 10px;
  margin: 30px 0;
}
.detail_percent .box_percent .inner .short b {
  font: 600 32px/150% "Sarabun";
}
.detail_percent .box_percent .inner .content .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.detail_percent .box_percent .inner .content .row .col_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 15px;
}
@media (min-width: 768px) {
  .detail_percent .box_percent .inner .content .row .col_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
    padding: 15px 20px;
  }
}
@media (min-width: 1200px) {
  .detail_percent .box_percent .inner .content .row .col_item {
    padding: 15px 35px;
  }
}
.detail_percent .box_percent .inner .content .row .col_item .item .percent {
  background: radial-gradient(circle, #04457A 50%, rgba(4, 69, 122, 0.35) 51%);
  border-radius: 50%;
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.detail_percent .box_percent .inner .content .row .col_item .item .percent span {
  font: 700 28px/150% "Sarabun";
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.detail_percent .box_percent .inner .content .row .col_item .item .title {
  font: 400 18px/150% "Sarabun";
  color: #4A4647;
  margin-top: 15px;
}
@media (min-width: 1200px) {
  .detail_percent .box_percent .inner .content .row .col_item .item .title {
    white-space: nowrap;
  }
}
.detail_percent .box_percent .inner .content .row .col_item .item .title b {
  font: 600 25px/150% "Sarabun";
  display: block;
}
@media (min-width: 1200px) {
  .detail_percent .box_percent .inner .content .row .col_item .item .title b {
    display: inline-block;
  }
}

#table_statistic .box_tab {
  margin-top: 40px;
  margin-bottom: 20px;
}
#table_statistic .box_tab h2 {
  line-height: 1;
  padding: 0 15px;
  margin: 0;
  margin-right: auto;
}
#table_statistic .box_tab .nav .nav-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
#table_statistic .box_tab .nav .nav-item .nav-link {
  font: 600 20px/1 "Sarabun";
  text-align: center;
  color: #4A4647;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  padding: 0 5px 5px;
  margin-bottom: -5px;
}
#table_statistic .box_tab .nav .nav-item .nav-link.active {
  color: #FF6505;
  background-color: transparent;
  border-bottom-color: #FF6505;
}
#table_statistic .box_search_list {
  display: block;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  position: unset;
}
@media (min-width: 1200px) {
  #table_statistic .box_search_list .select {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 25%;
  }
}
#table_statistic .box_search_list .form-group {
  margin-bottom: 0;
  position: relative;
}
#table_statistic .box_search_list .form-group input {
  height: 40px;
}
#table_statistic .box_search_list .form-group input::-webkit-input-placeholder {
  color: #979797;
}
#table_statistic .box_search_list .form-group input::-moz-placeholder {
  color: #979797;
}
#table_statistic .box_search_list .form-group input:-ms-input-placeholder {
  color: #979797;
}
#table_statistic .box_search_list .form-group input::-ms-input-placeholder {
  color: #979797;
}
#table_statistic .box_search_list .form-group input::placeholder {
  color: #979797;
}
#table_statistic .box_search_list .form-group .icon {
  background: #fff;
  width: 25px;
  height: 25px;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 17px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
#table_statistic .box_search_list .form-group .icon img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
#table_statistic .box_search_list select {
  color: #495057;
  border: 1px solid #e0e0e0;
  width: 100%;
  height: 40px;
  padding: 0.375rem 0.75rem;
}
#table_statistic .box_search_list select::-webkit-input-placeholder {
  color: #979797;
}
#table_statistic .box_search_list select::-moz-placeholder {
  color: #979797;
}
#table_statistic .box_search_list select:-ms-input-placeholder {
  color: #979797;
}
#table_statistic .box_search_list select::-ms-input-placeholder {
  color: #979797;
}
#table_statistic .box_search_list select::placeholder {
  color: #979797;
}
#table_statistic .box_search_list .filter button {
  font: 400 18px/150% "Sarabun";
  color: #fff;
  background: #04457A;
  border-radius: 5px;
  width: 150px;
  height: 40px;
}
#table_statistic .box_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#table_statistic .box_title label {
  font: 600 28px/150% SFProDisplay-Regular, sans-serif;
  color: #4A4647;
}
#table_statistic .box_title .btn-team {
  font: 400 18px/150% "Sarabun";
  color: #45A7F8;
  background: transparent;
}
#table_statistic .box_title .dropdown-item.active,
#table_statistic .box_title .dropdown-item:active {
  background-color: #FE6505;
}
#table_statistic .box_editteam {
  display: none;
}
#table_statistic .box_editteam.show_edit {
  display: block;
}
#table_statistic .box_editteam select {
  color: #495057;
  border: 1px solid #e0e0e0;
  width: 100%;
  height: 40px;
  padding: 0.375rem 0.75rem;
}
#table_statistic .box_editteam select::-webkit-input-placeholder {
  color: #979797;
}
#table_statistic .box_editteam select::-moz-placeholder {
  color: #979797;
}
#table_statistic .box_editteam select:-ms-input-placeholder {
  color: #979797;
}
#table_statistic .box_editteam select::-ms-input-placeholder {
  color: #979797;
}
#table_statistic .box_editteam select::placeholder {
  color: #979797;
}
#table_statistic .box_editteam .btn-update {
  font: 400 18px/150% "Sarabun";
  color: #fff;
  background: #04457A;
  border-radius: 5px;
  width: 150px;
  height: 40px;
}
#table_statistic .content {
  width: 100%;
  overflow-x: auto;
}
#table_statistic .content::-webkit-scrollbar {
  width: 3px;
  height: 7px;
  background: #E1E1E1;
}
#table_statistic .content::-webkit-scrollbar-thumb:horizontal {
  background: #707070;
  border-radius: 10px;
}
#table_statistic .content table {
  min-width: 1218px;
}
#table_statistic .content table thead {
  background: #E1E1E1;
}
#table_statistic .content table .checkbox {
  display: none;
}
#table_statistic .content table .checkbox input {
  visibility: hidden;
  display: none;
}
#table_statistic .content table .checkbox input.checked + label:after, #table_statistic .content table .checkbox input:checked + label:after {
  color: #fff;
  background: #FF6505;
}
#table_statistic .content table .checkbox input:checked + label:after {
  opacity: 1;
}
#table_statistic .content table .checkbox label {
  font: 600 14px/150% SFProDisplay-Regular, sans-serif;
  color: #4d4d4d;
  width: 16px;
  height: 16px;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
}
#table_statistic .content table .checkbox label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #d9d9d9;
  margin: 0;
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
}
#table_statistic .content table .checkbox label:after {
  content: "\f00c";
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  font-size: 0.8rem;
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #0155f5;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: transparent;
  opacity: 0;
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
}
#table_statistic .content table .checkbox:hover label:before {
  border-color: #FF6505;
}
#table_statistic .content table.show_edit .checkbox {
  display: table-cell;
}

#event_team {
  margin-bottom: 100px;
}
#event_team h1 {
  font: 600 28px/1 "Sarabun";
  color: #4A4647;
  margin-bottom: 30px;
}
#event_team .box_content input {
  height: 40px;
}
#event_team .box_content input::-webkit-input-placeholder {
  color: #979797;
}
#event_team .box_content input::-moz-placeholder {
  color: #979797;
}
#event_team .box_content input:-ms-input-placeholder {
  color: #979797;
}
#event_team .box_content input::-ms-input-placeholder {
  color: #979797;
}
#event_team .box_content input::placeholder {
  color: #979797;
}
#event_team .box_content .create_team {
  font: 400 15px/1 "Sarabun";
  color: #FE6505;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#event_team .box_content .create_team i {
  padding-left: 10px;
}
#event_team #box_created .item {
  background: #F8F7FA;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}
#event_team #box_created .item input {
  height: 40px;
}
#event_team #box_created .item input::-webkit-input-placeholder {
  color: #979797;
}
#event_team #box_created .item input::-moz-placeholder {
  color: #979797;
}
#event_team #box_created .item input:-ms-input-placeholder {
  color: #979797;
}
#event_team #box_created .item input::-ms-input-placeholder {
  color: #979797;
}
#event_team #box_created .item input::placeholder {
  color: #979797;
}
#event_team #box_created label {
  font: 400 15px/1 "Sarabun";
  color: #FE6505;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}
#event_team #box_created label i {
  font-size: 30px;
  padding-left: 10px;
}

#bottom_team {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 4%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#bottom_team:after {
  content: "";
  background: #fff;
  -webkit-box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.05);
  width: 120vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}
#bottom_team .row {
  position: relative;
  z-index: 2;
}
#bottom_team .row .btn {
  font: 400 18px/150% "Sarabun";
  color: #4A4647;
  background: #fff;
  border: 1px solid #4A4647;
  border-radius: 4px;
  min-width: 162px;
  min-height: 47px;
  margin: 0 7.5px;
}
#bottom_team .row .btn.btn-next {
  color: #fff;
  background: #FE6505;
  border-color: #FE6505;
}
#bottom_team .row .btn:hover {
  opacity: 0.9;
}

.no_filter {
  font: 400 18px/150% "Sarabun";
  color: #45A7F8;
}

.btn-scan {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  margin-left: auto;
}
.btn-scan button {
  font: 400 15px/150% "Sarabun";
  color: #fff;
  background: #FF6505;
  border: 1px solid #FF6505;
  border-radius: 8px;
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
.btn-scan button i {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  -webkit-filter: invert(100%) sepia(12%) saturate(7500%) hue-rotate(178deg) brightness(112%) contrast(110%);
          filter: invert(100%) sepia(12%) saturate(7500%) hue-rotate(178deg) brightness(112%) contrast(110%);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
.btn-scan button i img {
  max-width: 100%;
  max-height: 100%;
}
.btn-scan button:hover {
  color: #FF6505;
  background: #fff;
}
.btn-scan button:hover i {
  -webkit-filter: invert(53%) sepia(43%) saturate(6286%) hue-rotate(357deg) brightness(101%) contrast(101%);
          filter: invert(53%) sepia(43%) saturate(6286%) hue-rotate(357deg) brightness(101%) contrast(101%);
}

.btn-excel {
  font: 400 15px/1 "Sarabun";
  color: #fff;
  background: #04457A;
  width: 100%;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
@media (min-width: 576px) {
  .btn-excel {
    width: 160px;
  }
}
.btn-excel:hover {
  color: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
  background-color: #f2f2f2;
  border: 1px #ddd solid;
  border-radius: 4px;
  width: 100%;
  padding: 15px 50px;
  overflow: hidden;
  cursor: pointer;
}
.inputfile + label i {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}
.inputfile + label * {
  pointer-events: none;
}
.inputfile:focus + label, .inputfile.has-focus + label, .inputfile + label:hover {
  background-color: transparent;
  opacity: 0.8;
}