.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form .pic_form {
  width: 60%;
}
@media (max-width: 768px) {
  .form .pic_form {
    width: 100%;
  }
}
@media (min-width: 769px) {
  .form .pic_form img {
    display: none;
  }
}
.form #form {
  width: calc(40% - 20px);
  background: #04457A;
  padding: 42px 2.9% 28px;
}
@media (max-width: 992px) {
  .form #form {
    padding: 30px 15px;
    width: calc(40% - 15px);
  }
}
@media (max-width: 768px) {
  .form #form {
    width: 100%;
    margin-top: 15px;
  }
}
.form #form .form_title {
  font-size: 20px;
  color: #FFF;
  font-weight: 700;
  padding-bottom: 23px;
}
@media (max-width: 992px) {
  .form #form .form_title {
    padding-bottom: 16px;
  }
}
.form #form form {
  font-size: 18px;
}
@media (max-width: 992px) {
  .form #form form {
    font-size: 16px;
  }
}
.form #form form .form-group {
  margin-bottom: 25px;
}
@media (max-width: 992px) {
  .form #form form .form-group {
    margin-bottom: 15px;
  }
}
.form #form form .form-group select, .form #form form .form-group input {
  width: 100%;
  height: 45px;
  background: #FFF;
  border: none;
  padding: 0 20px;
}
@media (max-width: 992px) {
  .form #form form .form-group select, .form #form form .form-group input {
    height: 40px;
    padding: 0 12px;
  }
}
.form #form form .form-group select::-webkit-input-placeholder, .form #form form .form-group input::-webkit-input-placeholder {
  color: #979797;
}
.form #form form .form-group select::-moz-placeholder, .form #form form .form-group input::-moz-placeholder {
  color: #979797;
}
.form #form form .form-group select:-ms-input-placeholder, .form #form form .form-group input:-ms-input-placeholder {
  color: #979797;
}
.form #form form .form-group select::-ms-input-placeholder, .form #form form .form-group input::-ms-input-placeholder {
  color: #979797;
}
.form #form form .form-group select::placeholder, .form #form form .form-group input::placeholder {
  color: #979797;
}
.form #form form .form-group .select select {
  color: #4A4647;
}
@media (max-width: 992px) {
  .form #form form .form-group .select select {
    padding-left: 8px;
  }
}
.form #form form .form-group.submit {
  padding-top: 13px;
}
@media (max-width: 992px) {
  .form #form form .form-group.submit {
    padding-top: 8px;
  }
}
.form #form form .form-group.submit button {
  width: 100%;
  height: 45px;
  background: #FE6505;
  color: #FFF;
  font-weight: 700;
  padding-bottom: 5px;
}
@media (max-width: 992px) {
  .form #form form .form-group.submit button {
    height: 40px;
    padding-bottom: 4px;
  }
}
.form #form form .form-group.submit button:hover {
  opacity: 0.8;
}

.partner {
  max-width: 800px;
  margin: auto;
  padding: 35px 0;
}
@media (max-width: 992px) {
  .partner {
    padding: 15px 0;
  }
}
.partner .list_item .slick-slide > div {
  padding: 20px;
}
@media (max-width: 992px) {
  .partner .list_item .slick-slide > div {
    padding: 15px;
  }
}
.partner .list_item .slick-slide > div .item {
  height: 34px;
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_title {
  font-size: 32px;
  font-weight: 700;
  color: #4A4647;
  text-align: center;
}
@media (max-width: 992px) {
  .section_title {
    font-size: 26px;
  }
}

.content_about {
  padding: 30px 0 20px;
}
@media (max-width: 992px) {
  .content_about {
    padding: 20px 0;
  }
}
.content_about .section_title {
  padding-bottom: 38px;
}
@media (max-width: 992px) {
  .content_about .section_title {
    padding-bottom: 25px;
  }
}
.content_about .list_item {
  margin: 0 -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 992px) {
  .content_about .list_item {
    margin: 0 -10px;
  }
}
.content_about .list_item .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  padding: 0 50px 35px;
}
@media (max-width: 992px) {
  .content_about .list_item .item {
    padding: 0 10px 25px;
  }
}
@media (max-width: 600px) {
  .content_about .list_item .item {
    width: 100%;
  }
}
.content_about .list_item .item .picture {
  width: 65px;
}
@media (max-width: 475px) {
  .content_about .list_item .item .picture {
    width: 55px;
  }
}
.content_about .list_item .item .info {
  width: calc(100% - 65px);
  padding-left: 7%;
}
@media (max-width: 992px) {
  .content_about .list_item .item .info {
    padding-left: 15px;
  }
}
@media (max-width: 475px) {
  .content_about .list_item .item .info {
    width: calc(100% - 55px);
  }
}
.content_about .list_item .item .info .title {
  font-size: 20px;
  color: #4A4647;
  font-weight: 700;
  padding-bottom: 17px;
}
@media (max-width: 992px) {
  .content_about .list_item .item .info .title {
    font-size: 18px;
    padding-bottom: 8px;
  }
}
.content_about .list_item .item .info .content {
  font-size: 16px;
  color: #4A4647;
}
@media (max-width: 992px) {
  .content_about .list_item .item .info .content {
    font-size: 15px;
  }
}
.content_about .list_item .item .info .content p {
  line-height: 25px;
}
@media (max-width: 992px) {
  .content_about .list_item .item .info .content p {
    line-height: 24px;
  }
}

.about {
  background: #F2FEFF;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 35px 2.5% 50px;
}
@media (max-width: 992px) {
  .about {
    padding: 30px 15px;
  }
}
.about .section_title {
  padding-bottom: 47px;
}
@media (max-width: 992px) {
  .about .section_title {
    padding-bottom: 30px;
  }
}
.about .list_item {
  margin: 0 -15px;
}
@media (max-width: 992px) {
  .about .list_item {
    margin: 0 -8px;
  }
}
.about .list_item .item {
  padding: 0 15px;
}
@media (max-width: 992px) {
  .about .list_item .item {
    padding: 0 8px;
  }
}
.about .list_item .item .picture {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.about .list_item .item .info {
  color: #4A4647;
}
.about .list_item .item .info .title {
  font-size: 20px;
  font-weight: 700;
  padding: 15px 0 11px;
}
@media (max-width: 992px) {
  .about .list_item .item .info .title {
    font-size: 18px;
    padding: 10px 0 6px;
  }
}
.about .list_item .item .info .content {
  font-size: 16px;
  text-align: justify;
  letter-spacing: -0.3px;
}
@media (max-width: 992px) {
  .about .list_item .item .info .content {
    font-size: 15px;
  }
}
.about .list_item .item .info .content p {
  line-height: 25px;
}
@media (max-width: 992px) {
  .about .list_item .item .info .content p {
    line-height: 24px;
  }
}
.about .list_item .item .info .content ul li {
  font-size: 15px;
  color: #1C0A01;
}
.about .list_item .item .info .content ul li:not(:last-child) {
  padding-bottom: 14px;
}
@media (max-width: 992px) {
  .about .list_item .item .info .content ul li:not(:last-child) {
    padding-bottom: 10px;
  }
}
.about .list_item .item .info .content ul li:before {
  top: 5px;
  -webkit-filter: invert(7%) sepia(20%) saturate(1885%) hue-rotate(342deg) brightness(91%) contrast(103%);
          filter: invert(7%) sepia(20%) saturate(1885%) hue-rotate(342deg) brightness(91%) contrast(103%);
}

#container ul {
  padding-left: 10px;
  list-style: none;
}
#container ul li {
  padding-left: 30px;
  position: relative;
}
@media (max-width: 992px) {
  #container ul li {
    padding-left: 25px;
  }
}
#container ul li:before {
  content: "";
  position: absolute;
  left: 0;
  width: 14px;
  height: 14px;
  background: url("../../../../../resources/images/use/check.svg") no-repeat;
  background-size: contain;
}

.customer_review {
  padding: 30px 0;
}
.customer_review .section_title {
  padding-bottom: 37px;
}
@media (max-width: 992px) {
  .customer_review .section_title {
    padding-bottom: 30px;
  }
}
.customer_review .wrap_list {
  max-width: 564px;
  margin: auto;
}
.customer_review .list_item {
  margin: 0 -40px;
}
.customer_review .list_item .slick-list {
  overflow: unset;
}
.customer_review .list_item .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.customer_review .list_item .item {
  padding: 0 40px;
  height: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
.customer_review .list_item .item .wrap_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
  background: #FFF;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
  opacity: 0.48;
  pointer-events: none;
}
@media (max-width: 564px) {
  .customer_review .list_item .item .wrap_item {
    padding: 15px;
  }
}
.customer_review .list_item .item .wrap_item .img {
  width: 127px;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
@media (max-width: 564px) {
  .customer_review .list_item .item .wrap_item .img {
    width: 100px;
  }
}
.customer_review .list_item .item .wrap_item .img a {
  padding-top: 100%;
  border-radius: 50%;
}
.customer_review .list_item .item .wrap_item .info {
  width: calc(100% - 127px);
  padding-left: 7%;
  color: #4A4647;
  font-size: 16px;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
@media (max-width: 564px) {
  .customer_review .list_item .item .wrap_item .info {
    padding-left: 12px;
    width: calc(100% - 100px);
  }
}
@media (max-width: 400px) {
  .customer_review .list_item .item .wrap_item .info {
    width: 100% !important;
    padding-top: 12px;
    padding-left: 0 !important;
  }
}
.customer_review .list_item .item .wrap_item .info .title {
  font-size: 17px;
  font-weight: 700;
  padding-bottom: 14px;
}
@media (max-width: 564px) {
  .customer_review .list_item .item .wrap_item .info .title {
    padding-bottom: 6px;
  }
}
.customer_review .list_item .item .wrap_item .info .content {
  position: relative;
  padding-bottom: 6px;
  margin-bottom: 10px;
}
.customer_review .list_item .item .wrap_item .info .content:after {
  content: "";
  width: 87px;
  height: 4px;
  background: #979797;
  position: absolute;
  left: 0;
  bottom: 0;
}
@media (max-width: 564px) {
  .customer_review .list_item .item .wrap_item .info .content:after {
    height: 2px;
  }
}
.customer_review .list_item .item .wrap_item .info .name {
  font-weight: 600;
  padding-bottom: 4px;
}
.customer_review .list_item .item.slick-active .wrap_item {
  padding: 35px;
  opacity: 1;
  pointer-events: auto;
}
@media (max-width: 564px) {
  .customer_review .list_item .item.slick-active .wrap_item {
    padding: 15px;
  }
}
.customer_review .list_item .item.slick-active .wrap_item .img {
  width: 142px;
}
@media (max-width: 564px) {
  .customer_review .list_item .item.slick-active .wrap_item .img {
    width: 100px;
  }
}
.customer_review .list_item .item.slick-active .wrap_item .info {
  width: calc(100% - 142px);
  padding-left: 8%;
}
@media (max-width: 564px) {
  .customer_review .list_item .item.slick-active .wrap_item .info {
    padding-left: 12px;
    width: calc(100% - 100px);
  }
}
.customer_review .list_item .item.slick-active .wrap_item .info .title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 17px;
}
@media (max-width: 564px) {
  .customer_review .list_item .item.slick-active .wrap_item .info .title {
    font-size: 18px;
    padding-bottom: 6px;
  }
}
.customer_review .list_item .item.slick-active .wrap_item .info .content {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 12px;
}
@media (max-width: 564px) {
  .customer_review .list_item .item.slick-active .wrap_item .info .content {
    padding-bottom: 8px;
    margin-bottom: 10px;
  }
}
.customer_review .list_item .item.slick-active .wrap_item .info .content:after {
  width: 94px;
}
.customer_review .list_item .slick-arrow {
  width: 21px;
  height: 17px;
  z-index: 100;
  -webkit-filter: invert(17%) sepia(34%) saturate(5278%) hue-rotate(188deg) brightness(60%) contrast(106%);
          filter: invert(17%) sepia(34%) saturate(5278%) hue-rotate(188deg) brightness(60%) contrast(106%);
}
.customer_review .list_item .slick-arrow:before {
  display: none;
}
.customer_review .list_item .slick-arrow.slick-prev {
  left: 0;
  background: url("../../../../../resources/images/use/left.svg") no-repeat;
  background-size: contain;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (max-width: 680px) {
  .customer_review .list_item .slick-arrow.slick-prev {
    -webkit-transform: translate(30px, -50%);
            transform: translate(30px, -50%);
  }
}
.customer_review .list_item .slick-arrow.slick-next {
  right: 0;
  background: url("../../../../../resources/images/use/right.svg") no-repeat;
  background-size: contain;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
@media (max-width: 680px) {
  .customer_review .list_item .slick-arrow.slick-next {
    -webkit-transform: translate(-30px, -50%);
            transform: translate(-30px, -50%);
  }
}

.support {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 992px) {
  .support {
    padding: 40px 0;
  }
}
.support .left {
  width: 45%;
  padding-right: 15px;
}
@media (max-width: 768px) {
  .support .left {
    width: 100%;
    padding-right: 0;
    padding-top: 20px;
  }
}
.support .left .title {
  font-size: 45px;
  font-weight: 700;
  color: #FF6505;
  text-transform: uppercase;
  line-height: 56px;
}
@media (max-width: 992px) {
  .support .left .title {
    font-size: 28px;
    line-height: 39px;
  }
}
.support .left .short {
  font-size: 32px;
  color: #FF6505;
  padding-bottom: 34px;
}
@media (max-width: 992px) {
  .support .left .short {
    font-size: 23px;
    padding-bottom: 20px;
  }
}
.support .left .content {
  font-size: 18px;
  color: #4A4647;
}
@media (max-width: 992px) {
  .support .left .content {
    font-size: 16px;
  }
}
.support .left .content ul li:not(:last-child) {
  padding-bottom: 7px;
}
.support .left .content ul li:before {
  top: 8px;
}
.support .left .content blockquote p {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  color: #FFF;
  background: #FE6505;
  text-transform: uppercase;
  padding: 9px 40px;
}
@media (max-width: 992px) {
  .support .left .content blockquote p {
    font-size: 16px;
    padding: 7px 15px;
  }
}
.support .left .link_form a {
  font-size: 18px;
  font-weight: 700;
  color: #04457A;
  padding-right: 27px;
  position: relative;
}
.support .left .link_form a:after {
  content: "";
  width: 13px;
  height: 11px;
  background: url("../../../../../resources/images/use/right.svg") no-repeat;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 10px;
  -webkit-filter: invert(17%) sepia(34%) saturate(5278%) hue-rotate(188deg) brightness(60%) contrast(106%);
          filter: invert(17%) sepia(34%) saturate(5278%) hue-rotate(188deg) brightness(60%) contrast(106%);
}
.support .picture {
  width: 55%;
}
@media (max-width: 768px) {
  .support .picture {
    width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.news {
  position: relative;
  padding: 38px 0 50px;
}
@media (max-width: 992px) {
  .news {
    padding: 30px 0 40px;
  }
}
.news:before {
  content: "";
  width: 200vw;
  height: 100%;
  background: #F2FEFF;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}
.news .section_title {
  padding-bottom: 33px;
}
@media (max-width: 992px) {
  .news .section_title {
    padding-bottom: 25px;
  }
}
.news .list_item {
  margin: 0 -14px;
}
@media (max-width: 992px) {
  .news .list_item {
    margin: 0 -8px;
  }
}
.news .list_item .slick-list {
  padding-top: 6px;
  margin-top: -6px;
  padding-bottom: 6px;
  margin-bottom: -6px;
}
.news .list_item .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.news .list_item .item {
  padding: 0 14px;
  height: unset;
}
@media (max-width: 992px) {
  .news .list_item .item {
    padding: 0 8px;
  }
}
.news .list_item .item .wrap_item {
  background: #FFF;
  padding: 18px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  height: 100%;
}
@media (max-width: 992px) {
  .news .list_item .item .wrap_item {
    padding: 10px;
  }
}
.news .list_item .item .wrap_item .img a {
  padding-top: 74.1%;
}
.news .list_item .item .wrap_item .img a img {
  width: 100%;
}
.news .list_item .item .wrap_item .info .title {
  padding: 9px 0 14px;
}
@media (max-width: 992px) {
  .news .list_item .item .wrap_item .info .title {
    padding: 9px 0 11px;
  }
}
.news .list_item .item .wrap_item .info .title a {
  font-size: 18px;
  color: #4A4647;
  font-weight: 700;
  line-height: 19px;
}
.news .list_item .item .wrap_item .info .title a:hover {
  color: #FF6505;
}
.news .list_item .item .wrap_item .info .short {
  color: #4A4647;
  line-height: 25px;
  font-size: 15px;
}

#complete {
  padding: 0;
  background: none;
}
#complete .fancybox-close-small {
  padding: 0;
  background: none;
  top: 5px;
  right: 5px;
  color: #1C0A01;
}